* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #F4F5F7;
    color: #0B0528;
}

body, input, button, textarea {
    font: 400 16px 'Lato', sans-serif;
    color: #0B0528;
}

#home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .div-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (max-width: 850px)
{
  .hidden-sm {
      display: none
  }
  #home-page {
      .div-row {
        align-items: unset;
      }
  }
}
