nav {
    flex: 1;
    background: #FFF;
    height: 100%;
    padding: 32px 40px 16px 40px;
    min-height: calc(100vh - 75px);
    a.link-nav {
        text-decoration: none;
        color: #0B0528;
        font-weight: 700;
        line-height: 2.5;
        &:link {
            text-decoration: none;
            color: #0B0528;
        }
    }
}